.className{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: "#f8f9fa",
}

.bg-custom-color {
  background-color: #007bff;
}

.bg-black-hover {
  transition: background-color 0.3s ease-in-out;
}

.text-white-hover {
  transition: color 0.3s ease-in-out;
}

.bg-black-hover:hover {
  background-color: #000 !important;
}

.text-white-hover:hover {
  color: #fff !important;
}
.form-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.custom-width {
  width: 75%; 
}
.card-scale-transform {
  transition: transform 0.3s ease-in-out;
}

.card-scale-transform:hover {
  transform: scale(1.15);
  cursor: pointer;
}


